#bars {
  background-color: rgb(54, 54, 54);
  display: flex;
  align-items: flex-end;
  height: 90vh;
  margin: 2vw;
  justify-content: center;
}

#header {
  text-align: center;
  margin-bottom: -20vh;
  color: white;
}

.bar {
  border: 1px solid white;
  border-bottom: none;
  height: 0vh;
  /* transition: height 0.9s ease-out; */
  width: 2vw;
  margin: 3px;
  background-color: cadetblue;
  /* background-color: white; */
  max-height: 100vh;
  /* transition: height 0.5s ease-out; */

  text-align: center;
  color: white;
}

.value {
  margin-top: -4vh;
  font-size: 1.45rem;
}

.bar:nth-child(odd) {
  background-color: rgb(55, 92, 94);
  /* background-color: rgb(163, 3, 3); */
}

.bar:last-child {
  background-color: rgb(247, 227, 47);
  transition: height 0.5s ease-out;
}
